[submodule "third_party/eventing"]
	path = third_party/eventing
	url = https://github.com/openshift-knative/eventing.git
	branch = release-v1.15
[submodule "third_party/eventing-kafka-broker"]
	path = third_party/eventing-kafka-broker
	url = https://github.com/openshift-knative/eventing-kafka-broker.git
	branch = release-v1.15
