[submodule "third_party/eventing"]
	path = third_party/eventing
	url = https://github.com/knative/eventing.git
	branch = release-1.13
[submodule "third_party/eventing-kafka-broker"]
	path = third_party/eventing-kafka-broker
	url = https://github.com/knative-extensions/eventing-kafka-broker.git
	branch = release-1.13
